:root {
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

    --zero: 0px;
}

.divider {
    border-bottom: 1px solid var(--Stone-150);
    padding-bottom: 2rem;
}

main {
    padding: 2rem;
    font-size: 1.35rem;
    font-family: 'Outfit';
    font-size: 1rem;
    display: grid;
    color: var(--Stone-600);
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;

}

h1 {
    font-family: 'Young Serif';
    color: var(--Stone-900);
    font-weight: 575;
    font-size: 2rem;
}

h2 {
    font-family: 'Young Serif';
    color: var(--Brown-800);
    font-weight: 500;
    font-size: 1.75rem;
}

h3 {
    font-family: 'Outfit';
    color: var(--Rose-800);
}

span {
    font-weight: 800;
}



ul,
ol {
    padding-top: 1rem;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    padding-left: 1rem;
}

li::marker {
    color: #854633;
    font-weight: 800;
}

ul>li::marker {
    color: var(--Rose-800);
}

table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;

}

tr {
    border-bottom: 1px solid var(--Stone-150);
}

table tr:last-child {
    border-bottom: none;
}

tr td:first-child {
    padding-left: 3rem;
}

td {
    padding: 1rem;
}

td>span {
    color: var(--Brown-800)
}


.card {
    background-color: var(--Rose-50);
    padding: 1rem 1.75rem;
    border-radius: 1rem;
}

@media screen and (min-width: 450px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f9ecdf;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    header {
        max-width: 675px;
        padding: 2rem 2rem 0rem 2rem;
    }

    main {
        max-width: 675px;
    }

    img {
        border-radius: .5rem;
    }

    .container {
        background-color: var(--White);
        border-radius: 1.5rem;
    }
}
